.location-paragraph {
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.location-svg{
    margin-right: .4rem;
}


@media screen and (max-width: 500px) {
    .location-paragraph{
        margin-left: 1rem;
    }
}