#container-weather {
    background: linear-gradient(to bottom, #7D0CF8, #0B4FD9) no-repeat fixed;
    border-radius: 2rem;
    color: #fff;
    padding: 1rem;
    max-width: 30rem;
}

#forecast {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
}

#cloud-status {
    grid-column: 1 / 2;
    width: 5em;
}

#weather-condition,
#temperature {
    grid-column: 2/3;
}

#temperature {
    font-size: 5rem;
    font-weight: 500;
}

#more-details {
    margin-top: 1rem;

    text-align: center;
}

.weather-paragraph {
    display: inline-block;
    border-top: 1px solid #ffffff67;
    padding: .3rem 3.5rem;
    text-align: center;
}

.weather-paragraph span {
    display: block;
    font-size: 1.3rem;
}

.weather-paragraph:nth-child(1),
.weather-paragraph:nth-child(2) {
    border-right: 1px solid #ffffff67;
}


@media screen and (max-width: 500px) {
    #container-weather {
        margin: 0rem 1rem;
    }

    .weather-paragraph {
        padding: .2rem 3rem;
    }
}

@media screen and (max-width: 445px) {
    .weather-paragraph {
        padding: .2rem 2.45rem;
    }
}

@media screen and (max-width: 400px) {
    .weather-paragraph {
        padding: .2rem 1.9rem;
    }

    #weather-condition,
    #temperature {
        margin-left: 1rem;
    }
}