#container-weather {
    background: linear-gradient(to bottom, #80B0BD, #5688A7);
    border-radius: 2rem;
    color: #fff;
    padding: 1rem;
    max-width: 500px;
}

#forecast {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
}

#cloud-status {
    grid-column: 1 / 2;
}

.forecast-paragraph,
#weather-condition,
#temperature {
    grid-column: 2/2;
}
.currentDate, .location {
    margin-right: .5rem;
}

#temperature{
    font-size: 5rem;
    margin: .5rem 0;
}

#more-details {
    margin-top: 1rem;
}

.weather-paragraph {
    display: inline-block;
    border-top: 1px solid #ffffff;
    padding: .3rem 3.5rem;

    text-align: center;
}

.weather-paragraph span {
    display: block;
    font-size: 1.3rem;
}

.weather-paragraph:nth-child(1),
.weather-paragraph:nth-child(2) {
    border-right: 1px solid #ffffff;
}


@media screen and (max-width: 500px) {
    #container-weather {
        margin: 0rem 1rem;
    }

    .weather-paragraph {
        padding: .2rem 3rem;
    }
}


@media screen and (max-width: 460px) {
    .weather-paragraph {
        padding: .2rem 2.75rem;
    }
}

@media screen and (max-width: 436px) {
    .weather-paragraph {
        padding: .2rem 2.45rem;
    }
}

@media screen and (max-width: 410px) {
    .weather-paragraph {
        padding: .2rem 2.2rem;
    }
}